#This file is auto generated during confd running
parameters:
    usda_database_driver: {{ getv "/nutrition/usda_database_driver" }}
    usda_database_host: {{ getv "/nutrition/usda_database_host"}}
    usda_database_port: {{ getv "/nutrition/usda_database_port"}}
    usda_database_name: {{ getv "/nutrition/usda_database_name"}}
    usda_database_user: {{ getv "/nutrition/usda_database_user"}}
    usda_database_password: {{ getv "/nutrition/usda_database_password"}}
    nevo_database_driver: {{ getv "/nutrition/nevo_database_driver"}}
    nevo_database_host: {{ getv "/nutrition/nevo_database_host"}}
    nevo_database_port: {{ getv "/nutrition/nevo_database_port"}}
    nevo_database_name: {{ getv "/nutrition/nevo_database_name"}}
    nevo_database_user: {{ getv "/nutrition/nevo_database_user"}}
    nevo_database_password: {{ getv "/nutrition/nevo_database_password"}}
