#This file is auto generated during confd running
parameters:
    cache.cacheClass: {{getv "/java/cache.cacheClass"}}
    cache.expireInSeconds: {{getv "/java/cache.expireInSeconds"}}
    gate.parser.pipeline: {{getv "/java/gate.parser.pipeline"}}
    language.parse.languages: {{getv "/java/language.parse.languages"}}
    client.queue.prefix: {{getv "/java/client.queue.prefix"}}
    api.foodity.cms.host: {{getv "/java/api.foodity.cms.host"}}
    batch.import.file: {{getv "/java/batch.import.file"}}
    messagequeue.connection.timeout: {{getv "/java/messagequeue.connection.timeout"}}
    solr.recipes.url: {{getv "/java/solr.recipes.url"}}
    log4j.log.file: {{getv "/java/log4j.log.file"}}
