#This file is auto generated during confd running
parameters:
    database_driver: {{getv "/parameters/database_driver"}}
    database_host: {{getv "/parameters/database_host"}}
    database_port: {{getv "/parameters/database_port"}}
    database_name: {{getv "/parameters/database_name"}}
    database_test_name: {{getv "/parameters/database_test_name"}}
    database_user: {{getv "/parameters/database_user"}}
    database_password: {{getv "/parameters/database_password"}}
    mailer_transport: {{getv "/parameters/mailer_transport"}}
    mailer_host: {{getv "/parameters/mailer_host"}}
    mailer_user: {{getv "/parameters/mailer_user"}}
    mailer_password: {{getv "/parameters/mailer_password"}}
    locale: {{getv "/parameters/locale"}}
    secret: {{getv "/parameters/secret"}}
    java_home: {{getv "/parameters/java_home"}}
    processing_api_host: {{getv "/parameters/processing_api_host"}}
    processing_api_user: {{getv "/parameters/processing_api_user"}}
    processing_api_pass: {{getv "/parameters/processing_api_pass"}}
    aws_access_key: {{getv "/parameters/aws_access_key"}}
    aws_secret_key: {{getv "/parameters/aws_secret_key"}}
    aws_end_point: {{getv "/parameters/aws_end_point"}}
    aws_region: {{getv "/parameters/aws_region"}}
    force_aws_bucket: {{getv "/parameters/force_aws_bucket"}}
    cms_synchronisation_retries: {{getv "/parameters/cms_synchronisation_retries"}}
    cms_synchronisation_api_endpoint: {{getv "/parameters/cms_synchronisation_api_endpoint"}}
    cms_synchronisation_api_key: {{getv "/parameters/cms_synchronisation_api_key"}}
    importer_endpoint: {{getv "/parameters/importer_endpoint"}}
    rabbitmq.host: {{getv "/parameters/rabbitmq.host"}}
    rabbitmq.port: {{getv "/parameters/rabbitmq.port"}}
    rabbitmq.user: {{getv "/parameters/rabbitmq.user"}}
    rabbitmq.password: {{getv "/parameters/rabbitmq.password"}}
    rabbitmq.vhost: {{getv "/parameters/rabbitmq.vhost"}}
    sentry_enabled: {{getv "/parameters/sentry_enabled"}}
    jms_di_extra_use_grep: {{getv "/parameters/jms_di_extra_use_grep"}}
    local_java_dir: {{getv "/parameters/local_java_dir"}}
    combinations_config.app_id: {{getv "/parameters/combinations_config.app_id"}}
    combinations_config.default_language_code:  {{getv "/parameters/combinations_config.default_language_code"}}
    combinations_config.store_id: {{getv "/parameters/combinations_config.store_id"}}
